<div class="mx-auto my-8" id="<%= dom_id lookup %>">
  <h2 class="font-bold text-2xl">Current Weather for <%= lookup.zip_code %></h2>
  <img class="float-left mb-96" src="<%= lookup.icon %>" />

  <p class="my-4">
    <strong>Current Temperature:</strong> <%= lookup.with_scale(:temperature) %>
    <br>
    <strong>Conditions:</strong> <%= lookup.condition %>
  </p>

  <p class="my-4">
    <strong>High:</strong> <%= lookup.with_scale(:high) %> /
    <strong>Low:</strong> <%= lookup.with_scale(:low) %>
  </p>
</div>
