<div id="<%= dom_id forecast %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= forecast.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">High:</strong>
    <%= forecast.high %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Low:</strong>
    <%= forecast.low %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Condition:</strong>
    <%= forecast.condition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Icon:</strong>
    <%= forecast.icon %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lookup:</strong>
    <%= forecast.lookup_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this forecast", forecast, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this forecast", edit_forecast_path(forecast), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
